
body {

	
	background-color: #ff0000;

}

img {

	border: 3px double black;
	margin: 20px 195px;
}

.navbar {
	
	width: 960px;
	height: 40px;
	font-size: 20px;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #000000;
	border-radius: 3px;
	margin-left: 10px;


}

.navbar ul {

	height: auto;
	padding: 8px 0px;
	margin: 0px;
}


.navbar li {
	display: inline;
	padding: 20px;
}

.navbar a {
	color: white;
}